In [4]:
import pandas as pd
osd_df = pd.read_csv ('owid-covid-data.csv')

In [15]:
# Columns check 
osd_df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [13]:
# Our Head 
osd_df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [18]:
# missing values

missing_values = osd_df.isnull().sum()
missing_values = missing_values[missing_values > 0]
print(missing_values)

continent                                   14352
total_cases                                 35741
new_cases                                    8448
new_cases_smoothed                           9712
total_deaths                                56298
                                            ...
human_development_index                     75300
excess_mortality_cumulative_absolute       292217
excess_mortality_cumulative                292217
excess_mortality                           292217
excess_mortality_cumulative_per_million    292217
Length: 63, dtype: int64

In [19]:
osd_df_copy = osd_df.copy()

In [20]:
osd_df_copy

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302507,ZWE,Africa,Zimbabwe,2023-04-08,264578.0,2.0,4.143,5684.0,1.0,0.571,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
302508,ZWE,Africa,Zimbabwe,2023-04-09,264582.0,4.0,4.714,5684.0,0.0,0.571,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
302509,ZWE,Africa,Zimbabwe,2023-04-10,264584.0,2.0,4.143,5684.0,0.0,0.571,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
302510,ZWE,Africa,Zimbabwe,2023-04-11,264584.0,0.0,3.143,5684.0,0.0,0.571,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
302511,ZWE,Africa,Zimbabwe,2023-04-12,264584.0,0.0,2.571,5684.0,0.0,0.429,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [41]:
# Countries in the CSV

# available_countries = osd_df_copy['location'].unique()
# print(available_countries)




display(pd.DataFrame(available_countries, columns=['Available Countries']))
display(pd.DataFrame(available_countries, columns=['random Countries']).sample(3))

# Sampling and picking 3 random data of interest (Western Sahara, Barbados, Belarus)

    Available Countries
0           Afghanistan
1                Africa
2               Albania
3               Algeria
4        American Samoa
..                  ...
250      Western Sahara
251               World
252               Yemen
253              Zambia
254            Zimbabwe

[255 rows x 1 columns]

    random Countries
250   Western Sahara
19          Barbados
20           Belarus

In [49]:
countries_of_interest = ['Belarus','Barbados','Western Sahara']

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
302507,ZWE,Africa,Zimbabwe,2023-04-08,264578.0,2.0,4.143,5684.0,1.0,0.571,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
302508,ZWE,Africa,Zimbabwe,2023-04-09,264582.0,4.0,4.714,5684.0,0.0,0.571,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
302509,ZWE,Africa,Zimbabwe,2023-04-10,264584.0,2.0,4.143,5684.0,0.0,0.571,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
302510,ZWE,Africa,Zimbabwe,2023-04-11,264584.0,0.0,3.143,5684.0,0.0,0.571,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
302511,ZWE,Africa,Zimbabwe,2023-04-12,264584.0,0.0,2.571,5684.0,0.0,0.429,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [52]:
print("Filtered Data:")
display(filtered_df)

Filtered Data:

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
22726,BRB,North America,Barbados,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,14.5,88.469,5.8,79.19,0.814,281646.0,NaN,NaN,NaN,NaN
22727,BRB,North America,Barbados,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,14.5,88.469,5.8,79.19,0.814,281646.0,NaN,NaN,NaN,NaN
22728,BRB,North America,Barbados,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,14.5,88.469,5.8,79.19,0.814,281646.0,NaN,NaN,NaN,NaN
22729,BRB,North America,Barbados,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,14.5,88.469,5.8,79.19,0.814,281646.0,NaN,NaN,NaN,NaN
22730,BRB,North America,Barbados,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,14.5,88.469,5.8,79.19,0.814,281646.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25114,BLR,Europe,Belarus,2023-04-09,994037.0,0.0,0.0,7118.0,0.0,0.0,...,46.1,NaN,11.0,74.79,0.823,9534956.0,NaN,NaN,NaN,NaN
25115,BLR,Europe,Belarus,2023-04-10,994037.0,0.0,0.0,7118.0,0.0,0.0,...,46.1,NaN,11.0,74.79,0.823,9534956.0,NaN,NaN,NaN,NaN
25116,BLR,Europe,Belarus,2023-04-11,994037.0,0.0,0.0,7118.0,0.0,0.0,...,46.1,NaN,11.0,74.79,0.823,9534956.0,NaN,NaN,NaN,NaN
25117,BLR,Europe,Belarus,2023-04-12,994037.0,0.0,0.0,7118.0,0.0,0.0,...,46.1,NaN,11.0,74.79,0.823,9534956.0,NaN,NaN,NaN,NaN
297727,ESH,Africa,Western Sahara,2022-04-20,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,70.26,NaN,576005.0,NaN,NaN,NaN,NaN

In [54]:
filtered_df_cleaned = filtered_df.dropna(subset=['total_cases'])
display(filtered_df_cleaned)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
22801,BRB,North America,Barbados,2020-03-18,2.0,2.0,0.286,NaN,0.0,0.0,...,14.5,88.469,5.8,79.19,0.814,281646.0,NaN,NaN,NaN,NaN
22802,BRB,North America,Barbados,2020-03-19,2.0,0.0,0.286,NaN,0.0,0.0,...,14.5,88.469,5.8,79.19,0.814,281646.0,NaN,NaN,NaN,NaN
22803,BRB,North America,Barbados,2020-03-20,2.0,0.0,0.286,NaN,0.0,0.0,...,14.5,88.469,5.8,79.19,0.814,281646.0,NaN,NaN,NaN,NaN
22804,BRB,North America,Barbados,2020-03-21,5.0,3.0,0.714,NaN,0.0,0.0,...,14.5,88.469,5.8,79.19,0.814,281646.0,NaN,NaN,NaN,NaN
22805,BRB,North America,Barbados,2020-03-22,5.0,0.0,0.714,NaN,0.0,0.0,...,14.5,88.469,5.8,79.19,0.814,281646.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25113,BLR,Europe,Belarus,2023-04-08,994037.0,0.0,0.000,7118.0,0.0,0.0,...,46.1,NaN,11.0,74.79,0.823,9534956.0,NaN,NaN,NaN,NaN
25114,BLR,Europe,Belarus,2023-04-09,994037.0,0.0,0.000,7118.0,0.0,0.0,...,46.1,NaN,11.0,74.79,0.823,9534956.0,NaN,NaN,NaN,NaN
25115,BLR,Europe,Belarus,2023-04-10,994037.0,0.0,0.000,7118.0,0.0,0.0,...,46.1,NaN,11.0,74.79,0.823,9534956.0,NaN,NaN,NaN,NaN
25116,BLR,Europe,Belarus,2023-04-11,994037.0,0.0,0.000,7118.0,0.0,0.0,...,46.1,NaN,11.0,74.79,0.823,9534956.0,NaN,NaN,NaN,NaN
25117,BLR,Europe,Belarus,2023-04-12,994037.0,0.0,0.000,7118.0,0.0,0.0,...,46.1,NaN,11.0,74.79,0.823,9534956.0,NaN,NaN,NaN,NaN